-e git+https://github.com/nim65s/ndh.git#egg=ndh
-e git+https://github.com/nim65s/django-autoslug#egg=django-autoslug
-e git+https://github.com/nim65s/django-YummyEmailOrUsernameInsensitiveAuth.git#egg=django-yeouia
gunicorn
django_tables2
