{% extends 'ndh.html' %}
{% load static %}

{% block pagetitle %}Frigo - {% block title %}{% if title %}{{ title }}{% else %}\o/{% endif %}{% endblock %}{% endblock %}
{% block sitetitle %}Frigo{% endblock %}
{% block navbarleft %}
<li class="nav-item"><a class="nav-link" href="{% url 'frigo:repass' %}">Repas</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'frigo:courses' %}">Courses</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'frigo:periodes' %}">Périodes</a></li>
{% endblock %}
